:root{ /* usado para quando tem as principais cores pré-definidas e ser
        fácil de trocar quando necessário */
  --vermelho: #E50914;
  --preta: #141414; 
}

@font-face {
    font-family: 'Netflix Sans Bold';
     src: url(fonts/Netflix_Sans_Bold.otf) format('opentype');
     }

@font-face {
    font-family: 'Netflix Sans Medium';
    src: url(fonts/Netflix_Sans_Medium.otf) format('opentype');
 }

 @font-face {
    font-family: 'Netflix Sans Light';
    src: url(fonts/Netflix_Sans_Light.otf) format('opentype');
 }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* serve para delimitir  os elementos dentro 
    da caixa */
}

body {
    background: var(--preta);
    font-family: 'Netflix Sans Light', Arial;
 
}

header .my_container {
    padding-left: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 50px 20px 50px;
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,.97),rgba(0,0,0,.94),rgba(0,0,0,.9),rgba(0,0,0,0.6)), url(imgs/animal_principal.jpg);
    background-size: fixed;
    background-position: top left;
    min-width: 570px;
 }


header .my_container .navlist nav a {
    text-decoration: none;
    color: #D5DBDB;
    margin-right: 10px;
    font-family: 'Netflix Sans Light', Arial;
}

#a1{
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    font-family: 'Netflix Sans Light', Arial;
    font-weight: bold;
  }

header nav a:hover{
    color: #B2BABB;
}

#logo {
    width: 13%;
    padding: 0 20px 0 20px;
    min-width: 120px;
}

/* filme principal */
.pet_principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.6)), url(imgs/animal_principal.jpg);
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    height: 130vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}

.pet_principal .my_container .descricao {
    margin-bottom: 40px;  
    width: 50%;
    padding-left: 60px;
    font-size: 15px;
    font-family: 'Netflix Sans Light', 'Arial Bold';
}

.nome_pet {
    margin-top: 10%;
    font-size: 50px;
    padding-left: 60px;
    font-family: 'Netflix Sans Light', 'Arial Bold';
    font-weight: bold;

}



.botoes{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.botao {
    text-decoration: none;
}

#botao1{
    background-color: #fff;
    border: none;
    color: #141414;
    margin-right: 15px;
    width: 150px;
    height: 40px;
    margin-left: 70px;
    font-family: 'Netflix Sans Light',Arial; 
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    padding-right: 10px;
    border-radius: 5%;
    cursor: pointer;
    transition: .3s ease all;
}

#botao1:hover {
    background-color: rgba(255, 255, 255,.5);
}

#botao2{
    background-color: rgba(86,101,115,.55);
    border: none;
    color: #fff;
    margin-right: 15px;
    width: 200px;
    height: 40px;
    margin-left: 7px;
    font-family: 'Netflix Sans Light',Arial; 
    font-size: 20px;
     display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    padding-right: 10px;
    border-radius: 5%;
    cursor: pointer;
    transition: .3s ease all;
}

#botao2:hover {
    background-color: rgba(86,101,115,.4);
}

.adote_icon {
    width: 60px;
}

.carrossel_dogs {
    background-color: #141414;
}

.h3_dogs {
    background: linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,.7),rgba(0,0,0,.67),rgba(0,0,0,.64),rgba(0,0,0,0.6)), url(imgs/animal_principal2.jpg);
    height: 40px;
    /* width: 100%; */
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Netflix Sans Light', Arial;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.up_dogs {
    margin-top: -5px;
}

.carrossel_cats {
    background-color: #141414;
}

.h3_cats {
    color: #fff;
    font-family: 'Netflix Sans Light', Arial;
    padding-left: 20px;
}

#informacoes {
    background-color: #141414;
}

.infos {
    color: #fff;
    font-family: 'Netflix Sans Light', Arial;
    padding-left: 20px;
}


.info_descricao {
    margin-bottom: 10px;  
    padding: 20px;
    font-size: 15px;
    font-family: 'Netflix Sans Light', 'Arial Bold';
    color: #fff;
    text-align: justify;
}

.info_links {
    text-decoration: none;
    color: #B2BABB;
}

.map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}

.mapouter{
    position: relative;
    text-align: center;
    height: 350px;
    width: 350px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:350px;
    width:350px; 
}


.item {
    position: relative;
  }
  
  .box-pet {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .item:hover .box-pet {
    opacity: 0.3;
  }
  
  .item:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: rgba(86,101,115,0,5);
    font-family: 'Netflix Sans Light', 'Arial Bold';
    color: #fff;
    font-size: 16px;
    padding: 16px 32px;
  }